a {
  font-weight: 500;
  text-decoration: inherit;
}

li:hover {
  font-weight: 700 !important;
  color: #1676cc !important;
}

.active {
  color: #1676cc;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 1000;
  overflow-y: hidden;
}

/* CSS for loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}


.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  @apply dark:border-[1px] dark:border-solid dark:border-blue-800;
  @apply dark:text-white
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-disabled {
  @apply dark:border-[1px] dark:border-solid dark:border-blue-600
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  @apply dark:border-[1px] dark:border-solid dark:border-blue-500;
  @apply dark:dark:bg-blue-500 dark:text-white
}

@tailwind base;
@tailwind components;
@tailwind utilities;
